<div class="apps">
    <a href="https://app.gamenight.gg" class="btn btn-primary">
        <div class="image">
            <img src="/img/chrome.svg" alt="Web" />
        </div>
        <div class="text">
            <p class="subtitle">Free to play</p>
            <p class="place">Web Version</p>
        </div>
    </a>
    <a href="#" class="btn btn-primary">
        <div class="image">
            <img src="/img/ios.svg" alt="iOS" />
        </div>
        <div class="text">
            <p class="subtitle">iOS</p>
            <p class="place">App Store</p>
        </div>
    </a>
    <a href="#" class="btn btn-primary">
        <div class="image">
            <img src="/img/android.svg" alt="Android" />
        </div>
        <div class="text">
            <p class="subtitle">Android</p>
            <p class="place">Google Play</p>
        </div>
    </a>
</div>
