* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    color: #EFEFEF;
}

.container {
    max-width: 992px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
